//COLOURS
$white: #F2FDF1;
$mint: #D9EBC9;
$brown: #756752;
$pine: #436040;
$black: #161616;
$purple: #4000FF;
//FONTS
$karla: 'Karla', sans-serif;


* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
    box-sizing: border-box;
    position: relative;
    background-image: radial-gradient(closest-side at 60% 8%, #e66465, #9198e5);
    font-family: $karla;
    font-size: 16px;
}

header {
    position: fixed; 
    z-index: 3; // layers elements depending on index value
    top: 0; // prevents header from dropping when I adjust <main>!
    width: 100vw;
    height: 5.2em;
    background-color: white;
    opacity: 20%;
    // background-image: -webkit-linear-gradient(top, $pine 20%, $white);
    // box-shadow: 10px 10px 5px $white;
    h1 {
        position: fixed;
        top: 0.3em;
        right: 1.3em;
        font-family: $karla;
        font-size: 2.1em;
        color: $mint;
        opacity: 100%;
        background-color: blue;
        border-radius: 50%;
        padding: 0.4em;
        padding-right: 0.6em;
        box-shadow: black 10px 0px 10px;
    }
}

//MOBILE NAV MENU
#nav-mob {
    #nav-icon {
        z-index: 4;
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        font-size: 3em;
        color: $mint;
    }
    #nav-icon:hover {
        color: $white;
    }
    #nav-links {
        position: fixed;
        top: 5.1em;
        left: -22.2em;
        transition: 0.2s;
        ul {
            height: 100vh; //makes the sidebar take up full vertical height
            background-color: $pine;
            opacity: 100%;
        }
        li {
            list-style: none;
            font-family: $karla;
            font-size: 3em;
            // border: 3px solid $pine;
            padding: .3em .3em .3em 3.5em;
            transition: 0.5s;
            a, a:visited {
                text-decoration: none;
                color: $mint;
                font-style: italic;
            }
            a:hover {
                color: $white;
                font-style: normal;
            }
        }
        // li:hover {
        //     // opacity: 95%; //ADD TO DESK
        // }
    }
    #show {
        display: none;
    }
    #show:checked ~ #nav-links {
        display: block;
        transform: translateX(20em);
    }
    #show:checked ~ #nav-links li {
        background-color: $pine;
    }

}



main {
    margin: 2em;
    margin-top: 7em;
}




// REMOVE WHEN FINISHED MOBILE NAV
#nav-desk {
    display: none;
}