* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  position: relative;
  background-color: #F2FDF1;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100vw;
  height: 5.8em;
  background-color: #F2FDF1;
  backdrop-filter: blur(0.2em);
  box-shadow: gray 2em 0.1em 0.5em;
}
header h1 {
  z-index: 2;
  position: fixed;
  top: 0.1em;
  right: 1.7em;
  font-family: "Cousine", monospace;
  font-size: 2em;
  color: #4000FF;
  padding: 0.3em;
  padding-right: 0.6em;
  transition: 0.2s;
  transform: scale(2, 1) skewX(10deg);
}
header #text-banner {
  display: none;
}
header #head-square {
  position: fixed;
  top: -4em;
  right: -2em;
  background-color: #897e6d;
  height: 9em;
  width: 15em;
  transform: skew(10deg, 15deg) rotateX(50deg);
}
header #head-circle {
  position: fixed;
  top: -9em;
  left: -6em;
  height: 13em;
  width: 13em;
  background-color: #D9EBC9;
  border-radius: 50%;
}

#nav-mob #nav-icon-mob {
  z-index: 4;
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  font-size: 3em;
  color: #897e6d;
}
#nav-mob #nav-links-mob {
  position: fixed;
  top: 5.1em;
  left: -22.2em;
  transition: 0.2s;
}
#nav-mob #nav-links-mob ul {
  height: 100vh;
  padding-right: 5em;
  width: 85vw;
  background-color: #F2FDF1;
  box-shadow: 0em 0em 1em 5em #F2FDF1;
}
#nav-mob #nav-links-mob li {
  list-style: none;
  font-family: "Karla", sans-serif;
  font-size: 3em;
  padding: 0.3em 0.3em 0.3em 3.5em;
  transition: 0.5s;
}
#nav-mob #nav-links-mob li a, #nav-mob #nav-links-mob li a:visited {
  text-decoration: none;
  color: #897e6d;
  font-style: italic;
}
#nav-mob #show {
  display: none;
}
#nav-mob #show:checked ~ #nav-links-mob {
  display: block;
  transform: translateX(20em);
}

#nav-icon-desk {
  display: none;
}

main {
  margin: 2em;
  margin-top: 7em;
}

section {
  border-radius: 2em 2em 2em 2em;
  padding: 2em;
  margin: 0em;
  margin-top: 2em;
  background-color: white;
}
section h2 {
  color: #436040;
  text-align: left;
  left: 2em;
}

p {
  font-size: 2em;
}

#nav-desk {
  display: none;
}

@media only screen and (min-width: 800px) {
  header {
    position: relative;
    overflow: hidden !important;
    width: 100vw;
    height: 15em;
    box-shadow: none;
  }
  header h1 {
    font-size: 5em;
    top: 0.2em;
    right: 2em;
    font-family: "Cousine", monospace;
  }
  header #head-circle {
    position: fixed;
    left: -3em;
  }
  header #head-square {
    position: absolute;
    top: -8em;
    right: -8em;
    background-color: #897e6d;
    height: 18em;
    width: 30em;
  }
  header #text-banner {
    display: none;
    position: relative;
    top: -0.7em;
    left: -1.5em;
  }

  #nav-icon-mob {
    display: none;
  }

  #nav-icon-desk {
    display: block;
    z-index: 11;
    position: fixed;
    top: 0.2em;
    left: 0.5em;
    font-size: 3em;
    color: #897e6d;
    transition: 0.1s;
  }

  #nav-icon-desk:hover {
    color: rgb(230, 100, 101);
    transform: scale(1.2);
    cursor: pointer;
  }

  #nav-mob #nav-links-mob {
    z-index: 10;
    position: fixed;
    top: 8em;
    left: -23em;
    height: 25em;
    width: 25em;
    transition: 0.2s;
    border-radius: 50%;
    border: blue dotted 2em;
  }
  #nav-mob #nav-links-mob ul {
    z-index: 10;
    position: fixed;
    margin-left: 3em;
    margin-top: 3em;
    height: 15em;
    width: 15em;
    padding-right: 5em;
    border-radius: 50%;
    background-color: #F2FDF1;
    box-shadow: #F2FDF1 0em 0em 3em 3em;
  }
  #nav-mob #nav-links-mob li {
    z-index: 10;
    list-style: none;
    font-family: "Karla", sans-serif;
    font-size: 2.3em;
    padding: 0.3em 0.3em 0.3em 2em;
    transition: 0.5s;
  }
  #nav-mob #nav-links-mob li a, #nav-mob #nav-links-mob li a:visited {
    text-decoration: none;
    color: #897e6d;
    font-style: italic;
    transition: 0.2s;
  }
  #nav-mob #nav-links-mob li a:hover {
    color: rgb(230, 100, 101);
    font-style: normal;
    text-decoration: line-through;
  }

  #show {
    display: none;
  }

  #show:checked ~ #nav-links-mob {
    display: block;
    transform: translateX(20em);
  }

  #nav-mob:hover ~ main {
    transform: translateX(20em);
  }

  body {
    background-image: radial-gradient(circle at bottom right, #e66465 10%, #F2FDF1, #F2FDF1);
    overflow-x: hidden;
  }

  section {
    border-radius: 2em 2em 2em 2em;
    padding: 2em;
    margin: 0em;
    margin-top: 2em;
    background-color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 2em 0em 0em 2em;
  }
  section h2 {
    color: #436040;
    text-align: left;
    left: 2em;
  }
  section h2 {
    color: #436040;
  }

  main {
    position: relative;
    margin-top: -2em;
    transition: 0.5s;
  }

  p {
    font-size: 1.2em;
  }

  ::selection {
    background: none;
  }
}

/*# sourceMappingURL=style.css.map */
