//COLOURS
$white: #F2FDF1;
$mint: #D9EBC9;
$brown: #897e6d;
$pine: #436040;
$black: #161616;
$purple: #4000FF;
$lavendar: rgb(145, 152, 229);
$pale-orange: rgb(230, 100, 101);
//FONTS
$karla: 'Karla', sans-serif;
$eczar: 'Eczar', serif;
$rammetto: 'Rammetto One', cursive;
$unica: 'Unica One', cursive;
$dela: 'Dela Gothic One', cursive;
$cousine: 'Cousine', monospace;
//MIXINS
@mixin card() {
        border-radius: 2em 2em 2em 2em;
        padding: 2em;
        margin: 2em;
        background-color: white;
        h2 {
            color: $pine;
            text-align: left;
            left: 2em;
        }
}


* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
    box-sizing: border-box;
    position: relative;

    font-family: $karla;
    font-size: 16px;
}

header {
    position: fixed; 
    z-index: 3; // layers elements depending on index value
    top: 0; // prevents header from dropping when I adjust <main>!
    width: 100vw;
    height: 5.8em;
    background-color: $white;
    backdrop-filter: blur(.2em);
    // border-bottom: black solid 0.1em;
    box-shadow: 1em 1em 1em $white;
    h1 {
        z-index: 2;
        position: fixed;
        top: 0.1em;
        right: 1.7em;
        font-family: $cousine;
        font-size: 2em;
        color: $purple;
        padding: 0.3em;
        padding-right: 0.6em;
        transition: 0.2s;
        // mix-blend-mode: multiply;
        transform: scale(2, 1) skewX(10deg);
    }
    #text-banner {
        display: none; ///////////////////////
        // position: fixed;
        // top: 2em;
        // left: -3em;
        // width: 100vw;
        // font-family: $dela;
        // font-size: 2em;
        // // font-style: italic;
        // color: rgb(163, 163, 145);
        // transform: skewX(-30deg);
    }
    #head-square {
        position: fixed;
        top: -4em;
        right: -2em;
        background-color: $brown;
        height: 9em;
        width: 15em;
        transform: skew(10deg, 15deg) rotateX(50deg);
    }
    #head-circle {
        position: fixed;
        top: -9em;
        left: -6em;
        height: 13em;
        width: 13em;
        background-color: $mint;
        border-radius: 50%;
    }
    // h1:hover {
    //     transform: scale(1.1)   // DESK ONLY
    // }

}

//MOBILE NAV MENU
#nav-mob {
    #nav-icon-mob {
        z-index: 4;
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        font-size: 3em;
        color: $brown;
    }
    #nav-links-mob {
        position: fixed;
        top: 5.1em;
        left: -22.2em;
        transition: 0.2s;
        ul {
            height: 100vh; //makes the sidebar take up full vertical height
            padding-right: 5em;
            width: 85vw;
            background-color: $white;
            box-shadow: 0em 0em 1em 5em $white;
        }
        li {
            list-style: none;
            font-family: $karla;
            font-size: 3em;
            // text-shadow: $lavendar 5px 5px 1px;
            // border: 3px solid $pine;
            padding: .3em .3em .3em 3.5em;
            transition: 0.5s;
            a, a:visited {
                text-decoration: none;
                color: $brown;
                font-style: italic;
            }
        }
        // li:hover {
        //     // opacity: 95%; //ADD TO DESK
        // }
    }
    #show {
        display: none;
    }
    #show:checked ~ #nav-links-mob {
        display: block;
        transform: translateX(20em);
        // backdrop-filter: blur(.2em);
    }
}

    #nav-icon-desk {
        display: none;     ///// leave desk menu on
    }


main {
    margin: 2em;
    margin-top: 7em;
}

section {
    @include card;
}

#nav-desk {
    display: none;
}


//// DESKTOP VERSION

@media only screen and (min-width: 800px) {
    header {
        position: relative;
        overflow: hidden !important;
        width: 100vw;
        height: 15em;
        h1 {
            font-size: 5em;
            top: 0.2em;
            right: 2em;
            font-family: $cousine;
        }
        #head-circle {
            position: fixed;
            // transform: scale(1.2);
            left: -3em;
        }
        #head-square {
            position: absolute;
            top: -8em;
            right: -8em;
            background-color: $brown;
            height: 18em;
            width: 30em;
        }
        #text-banner {
            display: none; /////////////////////
            position: relative;
            top: -0.7em;
            left: -1.5em;
        }
        
    }
    #nav-icon-mob {
        display: none;
    }
    #nav-icon-desk {
        display: block;
        z-index: 11;
        position: fixed;
        top: 0.2em;
        left: 0.5em;
        font-size: 3em;
        color: $brown;
        transition: 0.1s;
    }
    #nav-icon-desk:hover {
        color: $pale-orange;
        transform: scale(1.2);
    }
    // #nav-desk {
    //     position: absolute;
    //     ul {
    //         background-color: $white;
    //         height: 100vh; //makes the sidebar take up full vertical height
    //         padding-right: 5em;
    //         li {
    //             font-size: 2em;
    //             color: red;
    //         }
    //     }
    // }
    #nav-mob {
        #nav-links-mob {
            z-index: 10;
            position: fixed;
            top: 8em;
            left: -23em;
            height: 25em;
            width: 25em;
            transition: 0.2s;
            // transform: skewX(-10deg);
            border-radius: 50%;
            border: blue dotted 2em;
            // backdrop-filter: none;
            
            ul {
                z-index: 10;
                position: fixed;
                // height: min-content; //makes the sidebar take up full vertical height
                // top: 3em;
                // left: 3em;
                margin-left: 3em;
                margin-top: 3em;
                height: 15em;
                width: 15em;
                padding-right: 5em;
                border-radius: 50%;
                background-color: $white;
                box-shadow: $white 0em 0em 3em 3em;
                // opacity: 0%; //////// prevents menu wrapping to other side when hidden
                // transform: skewX(-10deg);
                // border: blue dashed 30px;
                // box-shadow: $pale-orange 1em 1em 1em;
            }
            li {
                z-index: 10;
                list-style: none;
                font-family: $karla;
                font-size: 2.3em;
                // text-shadow: $lavendar 5px 5px 1px;
                // // border: 3px solid $pine;
                padding: .3em .3em .3em 2em;
                transition: 0.5s;
                a, a:visited {
                    text-decoration: none;
                    color: $brown;
                    font-style: italic;
                    transition: 0.2s;
                }
                a:hover {
                    color: $pale-orange;
                    font-style: normal;
                    text-decoration: line-through;
                }
            }
        }
    }
    #show {
        display: none;
    }
    #show:checked ~ #nav-links-mob {
        display: block;
        transform: translateX(20em);
        // backdrop-filter: blur(.2em);
    }
    #nav-mob:hover ~ main {
        transform: translateX(20em);
    }

    body {
        background-image: radial-gradient(circle at bottom right, #e66465 10%, $white, $white);
        overflow-x: hidden;
    }
    section {
        @include card;
        background-color: rgb(0,0,0,0);
        h2 {
            color: $pine;
        }
    }
    main {
        position: relative;
        margin-top: -2em;
        transition: 0.5s;
        height: 150vh;
    }

    ::selection {
        background: none;
    }
    






}

